.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $primary-color;
}

.header__title {
  text-transform: uppercase;
  font-size: 1.9rem;
}

.header__subscription {
  background-color: $optional-color;
  border: none;
  outline: none;
  font-family: "sourceSerifPro";
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0 0.8rem;
  height: 1.5rem;
}