.main{

  @include medium {
    margin: 0 20vh;
  }
  

  @include large {

    margin: 0 200px;
    display: grid;
    row-gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 60vh 80vh 60vh 30vh 40vh;
    grid-template-areas: "a b" "c c" "e d" "j s" "g g";
  }



  .primaryInfo {
    height: 60vh;
    position: relative;

    @include large {
      margin-top: 24px;
      grid-area: a;
    }

    &__image {
      position: absolute;
    }

    &__text {
      background-color: $white;
      position: absolute;
      text-align: center;
      margin: 0 16px;
      padding: 10px 20px;
      top: 120px;



      @include large {
        padding: 10px 30px;
        top: 200px;
      }
    }

    .primaryInfoText {
      &__title {
        font-size: 22px;
        font-family: $sourceSerifProBold;

        @include large {
          font-size: 40px;
        }

      }

      &__meta {
        color: $grey;
        margin-top: 16px;
      }
    }

  }

  &__secondaryInfo {


    @include large {
      grid-area: c;
    }
  }

  &__anotherArticles {

    @include large {
      grid-area: e;
    }
  }

  &__subscribe {
    height: 30vh;
    background-color: palevioletred;

    @include large {
      grid-area: j;
    }
  }

  &__events {
    height: 40vh;
    background-color: cornsilk;

    @include large {
      grid-area: g;
    }
  }
}

.secondaryInfo{

  @include medium {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-gap: 5px;
    grid-template-areas: "a a b b c c"
                         "d d d e e e";
  }

  @include large {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-gap: 20px;
    grid-template-areas: "a b c"
                         "d e f";

    }
  




  &__first {
    height: 40vh;

    @include medium {
      grid-area: a;
    }

    @include large {
      grid-area: a;
    }

    .secondaryInfoFirst {
      @include secondaryInfo;
    }

    .secondaryInfoFirstText{

      &__title {
        @include secondaryInfoTitle;
      }
    }

  }

  &__second {
    height: 40vh;

    @include medium {
      grid-area: b;
    }

    @include large {
      grid-area: b;
    }

    .secondaryInfoSecond {
      @include secondaryInfo;
    }

    .secondaryInfoSecondText{

      &__title {
        @include secondaryInfoTitle;
      }
    }

  }

  &__third {
    height: 40vh;

    @include medium {
      grid-area: c;
    }

    @include large {
      grid-area: c;
    }

    .secondaryInfoThird {
      @include secondaryInfo;
    }

    .secondaryInfoThirdText{

      &__title {
        @include secondaryInfoTitle;
      }
    }

 
  }

  &__fourth{
    height: 40vh;

    @include medium {
      grid-area: d;
    }

    @include large {
      grid-area: d;
    }

    .secondaryInfoFourth {
      @include secondaryInfo;
    }

    .secondaryInfoFourthText{

      &__title {
        @include secondaryInfoTitle;
      }
    }


  }

  &__fifth {
    height: 40vh;

    @include medium {
      grid-area: e;
    }

    @include large {
      grid-area: e;
    }

    .secondaryInfoFifth {
      @include secondaryInfo;
    }

    .secondaryInfoFifthText{

      &__title {
        @include secondaryInfoTitle;
      }
    }

  
  }
}

.anotherArticles {

  margin: 20px;

  @include medium {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
   
  
    grid-template-areas: "a b"
                         "c d"
                         "e f";
  }



  &__first {
    height: 20vh;
    @include anotherInfo;


    @include medium{
      grid-area: a;
    }

    .anotherArticleFirst {

      &__image{
       height: 70%;
      }
    
      &__title {
      @include anotherInfoText;
      }
    }

  
  }

  &__second {
    height: 20vh;
    @include anotherInfo;

    @include medium{
      grid-area: b;
    }

    .anotherArticleSecond {
    
      &__image{
        height: 70%;
      }

      &__title {
        @include anotherInfoText;
      }
    }
  }




  &__third {
    height: 20vh;
    @include anotherInfo;

    @include medium{
      grid-area: c;
    }

    .anotherArticleThird {

    
      &__image{
        height: 70%;
      }

      &__title {
        @include anotherInfoText;
      }
    }


  }

  &__fourth {
    height: 20vh;
    @include anotherInfo;

    @include medium{
      grid-area: d;
    }

    .anotherArticleFourth {

    
      &__image{
        height: 70%;
      }

      &__title {
        @include anotherInfoText;
      }
    }

  }

  &__fifth {
    height: 20vh;
    @include anotherInfo;

    @include medium{
      grid-area: e;
    }

    .anotherArticleFifth {
    
      &__image{
        height: 70%;
      }

      &__title {
        @include anotherInfoText;
      }
    }
    

  }

  &__sixth {
    height: 20vh;
    @include anotherInfo;

    @include medium {
      grid-area: f;
    }

    .anotherArticleSixth {

    
      &__image{
        height: 70%;
      }

      &__title {
        @include anotherInfoText;
      }
    }
  }

}

.events {
  display: flex;
  flex-direction: row;
}




