.appoinement {
  &__container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include small {
      width: 100%;
      height: 100%;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
