.advertising {
  display: flex;
  align-items: center;
  background-color: $optional-color;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.advertising__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advertising__text {
  padding-bottom: 0.8rem;
  font-family: "sourceSerifPro";
  font-size: 1rem;
  text-align: center;
}

.advertising__button {
  background-color: $secondary-color;
  color: $primary-color;
  border: none;
  outline: none;
  font-family: "sourceSerifPro";
  font-weight: bold;
  font-size: 1rem;
  padding: 0 0.5rem;
  height: 2rem;
  width: 9rem;
}