.primaryInfo {
  border-bottom: 1px solid $border-color;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  @include medium {
    border: none;
  }
}

.primaryInfo__imgContainer {
  height: 15.6rem;

  @include medium {
    height: auto;
  }
}

.primaryInfo__imgContainer img {
  object-fit: cover;
  height: 100%;

  @include medium {
    height: auto;
  }
}

.primaryInfo__content {
  text-align: center;
  position: relative;
  margin: -1.6rem 1.5rem 0;
  background-color: $primary-color;
}

.primaryInfo__title {
  font-family: "sourceSerifPro";
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.5rem;
  padding: 0.6rem 0;
  margin: 0 1rem;
}

.primaryInfo__data {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  color: $secondary-font-color;
}
