.secondaryArticle {
  display: flex;
  flex-direction: column;

  @include medium {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
  }
  
}

.secondaryArticle__wrapper {
  display: flex;
  margin-bottom: 0.8rem;
  align-items: center;

  @include medium {
    &:nth-child(even){
      margin-left: 4rem;
    }
  }

  @include large {
    &:nth-child(even){
      margin-left: 3rem;
    }
  }
}

.secondaryArticle__imgContainer {
  width : 5rem;
  height: 5rem;
}

.secondaryArticle__title {
  font-family: "sourceSerifPro";
  font-size: 1rem;
  padding: 1rem;
  width: 200px;
}
