.secondaryArticle {
  display: flex;
  flex-direction: column;
  
}

.secondaryArticle__wrapper {
  display: flex;
  margin-bottom: 0.8rem;
  align-items: center;
}

.secondaryArticle__imgContainer {
  width : 5rem;
  height: 5rem;
}

.secondaryArticle__title {
  font-family: "sourceSerifPro";
  font-size: 1rem;
  padding: 1rem;
  width: 200px;
}
