.bloc3 {

  &__rdvs {
    font-size: rem(20px);
    text-align: center;
    font-family: "Oswald-bold";
    // max-width: max-content;
    margin: 50px auto 20px;
  }

  @include large {
    &__rdvs {
      font-size: rem(40px);
    }

    &__rdvs::before {
      display: flex;
      position: relative;
      top: 20px;
      overflow: hidden;
      width: 250px;
      height: 3px;
      content: "";
      background-color: #000;
    }

    &__rdvs::after {
      display: flex;
      position: relative;
      top: -21px;
      left: 710px;
      overflow: hidden;
      width: 250px;
      height: 3px;
      content: "";
      background-color: #000;
    }
  }

  h1 {
    margin: 0 auto;

    @include medium {
      margin: 40px auto;
      font-size: rem(26px);
    }
  }
}






.bloc3__subArticles {
  @include flexbox(column, center, center);


  @include large {
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr);
    grid-template-rows: repeat(1, auto);
    // grid-auto-rows: minmax(300px, auto);
    // grid-gap: 30px;
    @include flexbox(row, flex-start, flex-start);
    width: 100%;

    .subArticles {
      margin: 30px 30px 0 0;
    }
  }





}