.bloc2 {
  @include flexbox(column, center, center);
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;

  @include large {
    display: grid;
    grid-template-columns: repeat(1fr 1fr 1fr 1fr 1fr 1fr);
    grid-template-rows: repeat(4, auto);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 30px;
    grid-template-areas:
      "A A A A B B B B"
      "1 2"
      "3 4"
      "5 6"
      "bloc2__abo";
    border: none;
  }
}

.bloc2__smallArticles {
  @include flexbox(column, center, center);
  max-width: 300px;
  margin: 30px 0;

  @include large {
    display: grid;
    grid-template-columns: 298px 298px;
    grid-template-rows: repeat(3, 100px);
    grid-column-gap: 30px;
    grid-template-areas:
      "1 2"
      "3 4"
      "5 6";

    &__smallArticles:nth-of-type(1) {
      background: burlywood;
      grid-area: 1;
    }

    &__smallArticles:nth-of-type(2) {
      background: burlywood;
      grid-area: 2;
    }

    &__smallArticles:nth-of-type(3) {
      background: burlywood;
      grid-area: 3;
    }

    &__smallArticles:nth-of-type(4) {
      background: burlywood;
      grid-area: 4;
    }

    &__smallArticles:nth-of-type(5) {
      background: burlywood;
      grid-area: 5;
    }

    &__smallArticles:nth-of-type(6) {
      background: burlywood;
      grid-area: 6;
    }
  }
}

.smallArticles {
  @include flexbox(row, center, center);

  &__img {
    min-width: 74px;
    max-width: 74px;
  }

  @include large {
    @include flexbox(row, flex-start, center);

    &__img {
      min-width: 92px;
    }
  }

  &__title {
    padding-left: 2rem;
    font-family: "SourceSerifPro-regular";
    font-size: rem(15px);
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0.5px;
    cursor: pointer;

    @include large {
      font-size: rem(17px);
      padding-right: 1.5rem;
    }
  }
}

.bloc2__subArticles {
  @include flexbox(column, center, center);

  @include large {
    @include flexbox(row, flex-start, flex-start);

    .subArticles:nth-of-type(1) {
      margin: 30px 30px 0 0;
      // grid-column: 1 / span 2;
      grid-area: A;
    }

    .subArticles:nth-of-type(2) {
      margin: 30px 30px 0 0;
      // grid-column: 2 / span 4;
      grid-area: B;
    }
  }
}

.bloc2__abo {
  min-height: 200px;
  @include flexbox(row, center, center);

  @include large {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(1, 180px);
  }

  .abo {
    &__content {
      height: 180px;
      text-align: center;
      background: #fed500;
      @include flexbox(column, center, center);

      @include large {
        @include flexbox(column, center, center);
      }
    }

    &__img {
      background: #fed500;
      background-image: url(/assets/imgs/ad/background.png);
      background-repeat: no-repeat;
      background-position: right;
      background-size: 100%;
      height: 180px;

      img:nth-of-type(1) {
        height: 153px;
        margin: 25px 20px 0 20px;

        @include large {
          height: auto;
          margin: 0;
        }
      }

      img:nth-of-type(2) {
        display: none;

        @include large {
          display: block;
          position: relative;
          left: -25px;
        }
      }
    }
  }

  h2 {
    margin: 0 auto;
    font-family: "Oswald-bold";
    font-size: rem(20px);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    max-width: 60%;

    @include large {
      font-size: rem(24px);
    }
  }

  p {
    text-align: center;
    margin: 10px auto;
    font-size: rem(16px);
    max-width: 60%;

    @include large {
      font-size: rem(19px);
    }
  }

  button {
    padding: 5px 10px;
    color: white;
    font-family: "SourceSerifPro-regular";
    font-size: rem(13px);
    font-weight: bold;
    background-color: black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: none;

    @include large {
      font-size: rem(16px);
      padding: 10px 15px;
    }
  }
}
