.container {
  max-width: 990px;
  width: 100%;
  padding: 30px 0;

  @include large {
    display: grid;
    margin: 0 auto;
    // background: lightgrey;
    margin-top: 60px;
    margin-bottom: 60px;
  }

}