.header {
  width: 100vw;
  max-height: 66px;
  border-bottom: 1px solid lightgrey;


  @include large {
    width: 100vw;
    height: 150px;
    max-height: 150px;

    border-bottom: 1px solid lightgrey;
  }


  &__logo {
    width: 100px;
    margin: 15px;


    @include large {
      width: 220px;
      margin: 20px auto 5px;
    }

  }


  &__categories {
    display: none;
    max-width: 960px;
    margin: 10px auto;

    @include large {
      @include flexbox (row, center, center);
      max-width: 960px;
      margin: 20px auto;
    }


  }

  &__category {
    font-family: "Oswald-bold";
    font-weight: normal;
    font-size: 8px;
    margin: 8px auto;

    @include large {
      font-size: 17px;
    }

  }

  @include large {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }

  &:hover {
    border-bottom: 1px solid black;
    transition: 250ms;
    ;
  }

}