.obsArticle {
    display: grid;
    @include large {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 38px 1fr;
    }

    .obsArticle__line1 {
        @include large {
            grid-column: 1;
            grid-row: 1;
            background: lightyellow;
        }
    }

    .obsArticle__title {
        @include large {
            grid-column: 2;
            grid-row: 1;
            background: lightseagreen;
        }
    }

    .obsArticle__line2 {
        @include large {
            grid-column: 3;
            grid-row: 1;
            background: lightskyblue;
        }
    }

    .obsArticle__article1 {
        @include large {
            grid-column: 1;
            grid-row: 2;
            background: lightsalmon;
        }
    }

    .obsArticle__article2 {
        @include large {
            grid-column: 2;
            grid-row: 2;
            background: paleturquoise;
        }
    }

    .obsArticle__article3 {
        @include large {
            grid-column: 3;
            grid-row: 2;
            background: yellow;
        }
    }
}