.littleArticle {
    @include medium {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    @include large {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .littleArticle__article1 {
        @include medium {
            grid-column: 1;
            grid-row: 1;
            background: rgb(111, 124, 196);
        }
        @include large {
            grid-column: 1;
            grid-row: 1;
            background: yellowgreen;
        }
    }
    
    .littleArticle__article2 {
        @include medium {
            grid-column: 2;
            grid-row: 1;
            background: rgb(173, 15, 15);
        }
        @include large {
            grid-column: 2;
            grid-row: 1;
            background: rgb(108, 19, 150);
        }
    }

    .littleArticle__article3 {
        @include medium {
            grid-column: 1;
            grid-row: 1;
            background: rgb(111, 124, 196);
        }
        @include large {
            grid-column: 1;
            grid-row: 2;
            background: rgb(52, 6, 61);
        }
    }

    .littleArticle__article4 {
        @include medium {
            grid-column: 2;
            grid-row: 2;
            background: rgb(196, 111, 129);
        }
        @include large {
            grid-column: 2;
            grid-row: 2;
            background: yellow;
        }
    }

    .littleArticle__article5 {
        @include medium {
            grid-column: 1;
            grid-row: 3;
            background: rgb(214, 58, 188);
        }
        @include large {
            grid-column: 1;
            grid-row: 3;
            background: brown;
        }
    }

    .littleArticle__article6 {
        @include medium {
            grid-column: 2;
            grid-row: 3;
            background: rgb(51, 189, 23);
        }
        @include large {
            grid-column: 2;
            grid-row: 3;
            background: pink;
        }
    }
}