.articles {
    display: grid;
    @include large {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .articles__article1 {
        @include large {
            grid-column: 1;
            grid-row: 1;
            background: purple;
        }
    }

    .articles__article2 {
        @include large {
            grid-column: 2;
            grid-row: 1;
            background: blue;
        }
    }

    .articles__article3 {
        @include large {
            grid-column: 3;
            grid-row: 1;
            background: pink;
        }
    }

    .articles__article4 {
        @include large {
            grid-column: 1;
            grid-row: 2;
            background: green;
        }
    }

    .articles__article5 {
        @include large {
            grid-column: 2;
            grid-row: 2;
            background: orange;
        }
    }
}