.littleArticle {
    display: grid;
    @include large {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .littleArticle__article1 {
        @include large {
            grid-column: 1;
            grid-row: 1;
            background: yellowgreen;
        }
    }
    
    .littleArticle__article2 {
        @include large {
            grid-column: 2;
            grid-row: 1;
            background: rgb(108, 19, 150);
        }
    }

    .littleArticle__article3 {
        @include large {
            grid-column: 1;
            grid-row: 2;
            background: lightgreen;
        }
    }

    .littleArticle__article4 {
        @include large {
            grid-column: 2;
            grid-row: 2;
            background: grey;
        }
    }

    .littleArticle__article5 {
        @include large {
            grid-column: 1;
            grid-row: 3;
            background: brown;
        }
    }

    .littleArticle__article6 {
        @include large {
            grid-column: 2;
            grid-row: 3;
            background: pink;
        }
    }
}