@import "../../config/medias.scss";
@import "main.scss";
@import "header.scss";
@import "footer.scss";

body {
    background-color: white;
  
    @include medium {
      background-color: white;
    }
  
    @include large {
      background-color: white;
    }
}