.main {
  margin: 20px 15px 0px 15px;
  @include large {
    margin: 0px 100px 0px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "primary primary secondary"
      "tertiary tertiary tertiary"
      "fourthly fourthly ."
      "fifthly fifthly ."
      "sixthly sixthly sixthly";
  }
}

.main__primaryInfo {
  background: #ffd96c; /* Pour tester */
  height: 450px; /* Pour tester */
  @include large {
    height: 500px;
    grid-area: primary;
  }
}

.main__secondaryInfo {
  display: none;
  @include large {
    display: block;
    background: black;
    grid-area: secondary;
  }
}

.main__tertiaryInfo {
  background: #bde5ff;
  height: 1500px;
  @include large {
    display: block;
    background: #bde5ff;
    height: 650px;
    grid-area: tertiary;
  }
}

.main__fourthlyInfo {
  background-color: #ec3027;
  height: 540px;
  @include large {
    height: 400px;
    grid-area: fourthly;
  }
}

.main__fifthlyInfo {
  background-color: #fa8725;
  height: 110px;
  @include large {
    height: 150px;
    grid-area: fifthly;
  }
}

.main__sixthlyInfo {
  background-color: #e8bbd2;
  height: 960px;
  @include large {
    height: 350px;
    grid-area: sixthly;
  }
}
