.header {
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid black;

  &__title {
    font-size: 72px;
  }

  &__nav {
    width: 75%;
    display: flex;
    justify-content: center;

    &--menu {
      display: none;

      @include medium {
        width: 100%;
        font-size: 10px;
        display: flex;
        justify-content: space-between;
      }

      @include large {
        font-size: 14px;
      }
    }
  }
}
