.main {
  position: relative;
  top: 70px;
  padding: 20px 10px 20px 10px;
  width: 100%;
  max-width: 660px;

  @include medium {
    top: 170px;
  }

  @include large {
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'primary-info primary-info fil-info'
      'article article article'
      'sub-article sub-article .'
      'abo abo .'
      'rdv rdv rdv';
    grid-column-gap: $col-gap;
    grid-row-gap: $row-gap;
  }
}
