.main__rdv {
  @include large {
  }
}

.rdv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $border-color;

  & h1 {
    font-size: 1.3rem;
    margin: 20px 0;

    @include medium {
      background-color: white;
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 20px;
      font-size: 1.5rem;
    }
  }

  @include medium {
    position: relative;
    border-top: black 1px solid;
    flex-direction: row;
    justify-content: space-between;
  }
  @include large {
    grid-area: rdv;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: $col-gap;
    grid-row-gap: $row-gap;
  }
}

.rdv__article {
  width: 90%;
  margin-bottom: 30px;

  @include medium {
    margin-top: 40px;
    width: 190px;
  }

  @include large {
    width: 100%;
  }
}

.rdv__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include large {
    border: 1px solid $border-color;
  }
}

.rdv__picture {
  width: 100%;
}

.rdv__text {
  background-color: white;
  position: relative;
  top: -20px;
  text-align: center;
  width: 90%;
  padding: 1rem 2rem;
}

.rdv__title {
  margin-bottom: 10px;
  line-height: 1.4rem;
  font-size: 1.1rem;

  @include large {
    font-size: 1.3rem;
  }
}
