.articles {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include medium {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas:
      "norm1 norm1 norm2 norm2 norm3 norm3"
      "subs1 subs1 subs1 subs2 subs2 subs2";
    margin-bottom: 30px;
  }

  @include large {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 325px);
    grid-gap: 20px;
    grid-template-areas:
      "article1 article2 article3"
      "article4 article5 .";
  }

  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
    cursor: pointer;

    @include medium {
      width: 100%;
      height: 100%;
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          grid-area: norm#{$i};
        }
      }
      &:nth-child(4) {
        grid-area: subs1;
      }

      &:nth-child(5) {
        grid-area: subs2;
      }
    }

    @include large {
      border: 1px solid #999;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          grid-area: article#{$i};
        }
      }
    }
  }

  &__img {
    width: 100%;
  }

  &__description {
    background: white;
    margin-top: -30px;
    width: 80%;
    text-align: center;
  }

  &__title,
  &__title-subs {
    font-family: SourceSerifPro;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    padding: 10px 15px;
    &:hover {
      color: #444;
    }

    @include large {
      font-size: 24px;
      line-height: 26px;
    }
  }

  &__title-subs {
    &::before {
      content: "";
      display: inline-block;
      width: 18px;
      height: 18px;
      background-image: url("../assets/imgs/icons/subscriber.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__meta {
    color: #999;
    font-family: Arial;
    font-size: 12px;
  }
}
