.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include small {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    grid-template-rows: repeat(auto-fit, minmax(100px));
    grid-gap: 20px;
    grid-template-areas: "main rightSection";
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__rightSection {
    width: 90%;
    height: 100%;
    background-color: blueviolet;
  }

  &__cards {
    width: 90%;
    height: 100%;
    background-color: red;
  }
}
