@font-face {
  font-family: oswaldBold;
  src: url(../assets/fonts/Oswald-bold.woff2);
}

@font-face {
  font-family: sourceSerifProBold;
  src: url(../assets/fonts/SourceSerifPro-bold.woff2);
}

@font-face {
  font-family: sourceSerifProRegular;
  src: url(../assets/fonts/SourceSerifPro-regular.woff2);
}
