@font-face {
    font-family: "Oswald";
    src: url("../assets/fonts/Oswald-bold.woff2");
    font-weight: bold;
  }
  
  @font-face {
    font-family: "SourceSerifPro";
    src: url("../assets/fonts/SourceSerifPro-regular.woff2");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "SourceSerifPro";
    src: url("../assets/fonts/SourceSerifPro-bold.woff2");
    font-weight: bold;
  }