@font-face {
  font-family: "SourceBold";
  src: url("../assets/fonts/SourceSerifPro-bold.woff2") format("woff2");
}

@font-face {
  font-family: "SourceRegular";
  src: url("../assets/fonts/SourceSerifPro-regular.woff2") format("woff2");
}

@font-face {
  font-family: "OswaldBold";
  src: url("../assets/fonts/Oswald-bold.woff2") format("woff2");
}
