* {
  box-sizing: border-box;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-bold.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "SourceSerifPro";
  src: url("../assets/fonts/SourceSerifPro-regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "SourceSerifPro";
  src: url("../assets/fonts/SourceSerifPro-bold.woff2");
  font-weight: bold;
}

main {
  width: 90%;

  @include medium {
    width: 666px;
  }

  @include large {
    width: 1000px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1.5fr 0.5fr 1fr;
    grid-template-areas:
      "hero aside"
      "articles articles"
      "articles articles"
      "links ."
      "ad ."
      "subs subs";
  }
}

.hero {
  grid-area: hero;
}

.articles {
  grid-area: articles;
}

.links {
  grid-area: links;
}

.fill {
  grid-area: aside;
}

.ad {
  grid-area: ad;
}

.subs {
  grid-area: subs;
}
