header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    height: auto;
    width: auto;
    margin: 0;
    font-size: 10px;
    max-width: 100%;
    border-bottom: 1px solid #ccc;
    
.header__menu{
    display: flex;
    align-items: center;
    position: relative;
    height: 22px;
}
.header__menu span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateZ(-50%);
    display: block;
    width: 22px;
    height: 2px;
    background-color:black;
}
.header__menu span::before, .header__menu span::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    transform: translateY(-6px);
    display: block;
    width: 22px;
    height: 2px;
    background-color: black;
}
.header__menu span::after{
    transform: translateY(6px);
}
   
    
.header__logo {
    
     width: 84px;
    height: 22px;
    padding: 0px 0px 0px 20px;
    
}
.header__user {
    width: 22px;
    height: 22px;
}
.header__push {
    display:block;
    width:88px;
    height: 25px;
    padding: 0px 8px;
    background-color: #fed500;
    margin: 0px 0px 0px 10px;
    font-family: SourceSerifPro-bold;
    font-size: 1rem;
    text-decoration: none;
}
}
