* {
    box-sizing: border-box;
  }

  body{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include large {
        display: grid;
        width: 1000px;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 0.75fr 0.75fr 1fr 0.5fr 1fr;
        grid-template-areas: 
        "hero info"
        "articles articles"
        "articles articles"
        "actu ."
        "ad ."
        "sub sub"
        ;
        grid-column-gap: 10px;
    }
}
img{
    max-width: 100%;
    height: auto;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include large {
        grid-area: hero;
    }
    .hero__image{
        width: 100%;
}
    .hero__text{
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    width: 90%;
    margin: -30px 15px 0px;
    background: white;
    padding: 10px 20px;
    h2 {
        font-size: 40px;
        font-family: "SourceSerifPro";
        font-weight: bold;
    }
    span {
        color: grey;
        font-family: arial;
        font-size: 12px;
    }
}
}

.fillinfo {
    height:400px;
    display: none;
    @include large {
        grid-area: info;
        height: 400px;
        display: block;
        border:1px solid grey;
    }
    h2{
        display: flex;
        justify-content: center;
        font-family: "Oswald";
        font-weight: bold;
        font-size: 20px;
    }
    .fillinfo__text{
        font-family: Arial;
        span{
            font-family: Arial;
            font-weight: bold;
        }
    }
    .fillinfo1__text{
        display: flex;
        flex-direction: row;
        margin: 0px 5px;
        padding: 10px 0px;
        p{
            padding: 0px 10px;
        }
    }
    .fillinfo2__text{
        display: flex;
        flex-direction: row;
        margin: 0px 5px;
        padding: 10px 0px;
        p{
            padding: 0px 10px;
        }
    }
    .fillinfo3__text{
        display: flex;
        flex-direction: row;
        margin: 0px 5px;
        padding: 10px 0px;
        p{
            padding: 0px 10px;
        }
    }
    .fillinfo4__text{
        display: flex;
        flex-direction: row;
        margin: 0px 5px;
        padding: 10px 0px;
        p{
            padding: 0px 10px;
        }
    }
}



.articles {
    height: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include large {
        grid-area: articles;
        height: 600px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    .article{
        @include large {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 0.5fr 0.5fr;
            grid-template-areas: 
            "articles1 articles2 articles3"
            "articles4 articles5 ."
            ;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
        }
    }
            .articles1 {
                box-sizing: content-box;
                width: 297px;
                height: 285px;
                border:1px solid grey;     
            }
            .articles2 {
                box-sizing: content-box;
                width: 297px;
                height: 285px;
                border:1px solid grey;       
            }
            .articles3 {
                box-sizing: content-box;
                width: 297px;
                height: 285px;
                border:1px solid grey;       
            }
            .articles4 {
                box-sizing: content-box;
                width: 297px;
                height: 285px;
                border:1px solid grey;       
            }
            .articles5 {
                box-sizing: content-box;
                width: 297px;
                height: 285px;
                border:1px solid grey;
                       
            }
//.article{
//    margin: 0px 15px;
//}

.articles__image{
    display: flex;
    justify-content: center;
}

.articles__text{
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    height: auto;
    width: auto;
    margin: -15px 15px 0px;
    background: white;
    padding: 10px 20px;
    h2 {
        font-size: 20px;
        font-family: "SourceSerifPro";
        font-weight: bold;
    }
    span {
        color: grey;
        font-family: arial;
        font-size: 12px;
    }
}
}

.actu {
    height: 600px;
    justify-content: center;
    align-items: center;
    @include large {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "actu1 actu4"
        "actu2 actu5"
        "actu3 actu6"
        ;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }


.actu__title{
    background: white;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    height: 88px;
    width: 177px;
    font-zise: 16px;
    font-family: "SourceSerifPro";
    font-weight: normal;
}
img{
    height: 88px;
    width: 88px;
}
.actu1{
    display: flex;
    flex-direction: row;
    grid-area: actu1;
}
.actu2{
    display: flex;
    flex-direction: row;
    grid-area: actu2;
}
.actu3{
    display: flex;
    flex-direction: row;
    grid-area: actu3;
}
.actu4{
    display: flex;
    flex-direction: row;
    grid-area: actu4;
}
.actu5{
    display: flex;
    flex-direction: row;
    grid-area: actu5;
}
.actu6{
    display: flex;
    flex-direction: row;
    grid-area: actu6;
}
    @include large {
        grid-area: actu;
        height: 400px;
    }
}
.ad {
    height: 200px;
    @include large {
        grid-area: ad;
        height: 200px;
    }
}
.sub {
    display: flex;
    flex-direction: column;
      align-items: center;
    height: 800px;
    h1{
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-family: "Oswald";
        font-weight: normal;
    }
    .subs{
        @include large {
            grid-area: sub;
            display: flex;
            flex-direction: row;
        }
        @include medium {
            display: flex;
            flex-direction: row;
        }
    }
    .sub__text {
        justify-content: center;
        flex-direction: column;
        position: relative;
        text-align: center;
        height: auto;
        width: auto;
        margin: -15px 15px 1px ;
        background: white;
        padding: 10px 20px;
        h2 {
            font-size: 20px;
            font-family: "SourceSerifPro";
            font-weight: bold;
        }
        span {
            font-family: arial;
            font-size: 12px;
            color: grey;
        }
    }
    .sub__image{
        display: flex;
        justify-content: center;
    }
    @include large {
        grid-area: sub;
        height: 400px;
    }
    .sub1{
        box-sizing: content-box;
                width: 297px;
                height: 285px;
                border:1px solid grey;
    }
    .sub2{
        box-sizing: content-box;
                width: 297px;
                height: 285px;
                border:1px solid grey;
        } 
    .sub3{
        box-sizing: content-box;
                width: 297px;
                height: 285px;
                border:1px solid grey;
    }
}