main{
  padding-top: 100px;


.main__primaryInfo--primaryInfo{
    background-color: white;
    h2{
      font-size: 40px;
      text-align: center;
      padding: 10px 10px 0px 10px;
      margin: 0px;
    }
    p{
      font-size: 12px;
      font-family: Arial;
      color: grey;
      text-align: center;
    }
}

.main__primaryInfo--fil{
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid 1px lightgrey;
  font-family: Arial;
  font-size: 14px;

  .info{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid grey;
    margin:0px 5px;
    .title{
      padding-left: 10px;
      text-align: left;
    }
    .hour{
      padding-left: 10px;
      font-weight:bold;
    }
  }
  .more{
    text-align: right;
    font-weight:bold;
  }
}

}

.main__secondaryInfo{
  width: 297.98px;
  height: 285.98px;
}

.main__secondaryInfo--5{
  margin-left: 30px;
  width: 297.98px;
}
.main__secondaryInfopartone{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .subtitle{
  font-size: 12px;
  font-family: Arial;
  color: grey;
  text-align: center;
  }
}

.main__secondaryInfoparttwo{
  display: flex;
  flex-direction: row;
  margin-left: 18px;
  .title{
  
  }
  .subtitle{
  font-size: 12px;
  font-family: Arial;
  color: grey;
  text-align: center;
  }
}