.primaryInfo {
    text-align: center;

    @include large {
        grid-area: 1 / 1 / 2 / 2;
    }
    h1 {
        position: relative;
        font-weight: 700;
        font-size: 36px;
        background-color: white;
        padding: 10px;
        bottom: 40px;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    } 
}
