@import "reset.scss";
@import "medias.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.main {
  display: grid;
}
