@import "./vendor/reset.scss";
@import "./config/mixin.scss";
@import "./bloc/header.scss";
@import "./bloc/main.scss";
@import "./element/primaryInfo.scss";
@import "./element/secondaryArticle.scss";

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  color: red;
}
