$SourceSerifPro-bold: "SourceSerifPro-bold", sans-serif;
$Oswald-bold: "Oswald-bold", sans-serif;

@font-face {
  font-family: Oswald-bold;
  src: url(../assets/fonts/Oswald-bold.woff2);
}

@font-face {
  font-family: SourceSerifPro-bold;
  src: url(../assets/fonts/SourceSerifPro-bold.woff2);
}

body {
  font-family: $SourceSerifPro-bold;
}

h2 {
  font-size: 18px;
}

h2 :nth-child(1) {
  font-size: 22px;
}
