@mixin box {
  word-wrap: break-word;
  background-color: #fff;
  text-align: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --font-article: SourceBold;
}
