@mixin flexbox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin format_vw-vh {
  width: 100vw;
  height: 100vh;
}



@mixin card-article {
  // margin: 10px auto;
  // max-width: 300px;
  // height: 285px;
  background: rgb(255, 255, 255);
  margin: 10px 15px;
  max-width: 600px;
  min-width: 290px;
  width: auto;


  &__img {

    img {
      width: 100%;
      min-height: 166px;
      object-fit: cover;

      @include medium {
        width: 600px;
      }
    }
  }

  &__title {
    position: relative;
    top: -30px;
    padding: 15px 20px;
    margin: 0 auto;
    width: 90%;
    background: white;
    font-family: 'source serif pro';
    font-size: 20px;
    line-height: 1.1;
    font-weight: bolder;
    text-align: center;
    @include flexbox (column, space-between, space-between);
  }



  @include large {
    grid-area: bloc1__subArticles;
    border: 1px solid lightgrey;


  }


}


@mixin medium {
  @media (min-width: 673px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 1024px) {
    @content;
  }
}