<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body

        <div class="articles">
            <div class="articles__article1">
                <img class="article1__img" src="assets/imgs/article2.jpg" alt="Edouad Philippe"/>
                <h4 class="article1__title">Comment la réforme des retraites a été dévoyée</h4>
                <p class="article1__meta">Édito - Publié il y a 14 heures</p>
            </div>

            <div class="articles__article2">
                <img class="article2__img" src="assets/imgs/article3.jpg" alt="Ségolène Royal avec une lettre"/>
                <h4 class="article2__title">Ségolène Royal estime qu'elle a été licenciée de sa fonction d'ambassadrice des pôles</h4>
                <p class="article2__meta">Politique - Publié il y a 3 heures</p>
            </div>

            <div class="articles__article3">
                <img class="article3__img" src="assets/imgs/article4.jpg" alt="une vague (océan)"/>
                <h4 class="article3__title">À quoi ressembleront les océans en 2049 ? Suivez notre conférence en direct</h4>
                <p class="article3__meta">2049 - Publié il y a 2 heures</p>
            </div>
            <div class="articles__article4">
                <img class="article4__img" src="assets/imgs/article5.jpg" alt="avion">
                <p class="article4__premium">A</p>
                <h4 class="article4__title">Comment l'avion abattu à Téhéran fragilise le régime des mollahs</h4>
                <p class="article4__meta">Monde - Publié il y a 6 heures</p>
            </div>

            <div class="articles__article5">
                <img class="article5__img" src="assets/imgs/article6.jpg" alt="Elif Shafak qui est triste ?"/>
                <p class="article5__premium">A</p>
                <h4 class="article5__title">Elif Shafak, star du roman turc et bête noir d'Erdogan</h4>
                <p class="article5__meta">Romans - Publié il y a 4 heures</p>
            </div>
        </div>