<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body

    <div class="imgObs">
        <h4 class="imgObs__title">L'OBS EN NUMÉRIQUE</h4>
        <p class="imgObs__description">Web + Tablette + Mobile à partir de 1€</p>
        <button class="imgObs" type="button">Je m'abonne</button>
        <img class="imgObs__img" src="assets/imgs/ad/cover1.png" alt="journal OBS"/>
        <img class="imgObs__img2" src="assets/imgs/ad/cover2.png" alt="journal OBS"/>
    </div>