<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body

    <div class="littleArticle">
        <div class="littleArticle__article1"></div>
        <div class="littleArticle__article2"></div>
        <div class="littleArticle__article3"></div>
        <div class="littleArticle__article4"></div>
        <div class="littleArticle__article5"></div>
        <div class="littleArticle__article6"></div>
    </div>