<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body

    <div class="littleArticle">

    
        <div class="littleArticle__article1">
            <img class="littleArticle1__img" src="assets/imgs/article7.jpg" alt="Mélenchon"/>
            <h5 class="littleArticle1__title">La motion de censure de Mélenchon fait pschitt</h5>
        </div>

        <div class="littleArticle__article2">
            <img class="littleArticle2__img" src="assets/imgs/article8.jpg" alt="Un retraité en colère ?"/>
            <p class="littleArticle2__premium">A</p>
            <h5 class="littleArticle2__title">Pourquoi la réforme des retraites vous fera travailler plus longtemps</h5>
        </div>

        <div class="littleArticle__article3">
            <img class="littleArticle3__img" src="assets/imgs/article9.jpg" alt="Carlos Ghson qui a l'air content ?"/>
            <h5 class="littleArticle3__title">La folle tournée médiatique de Carlos Ghson</h5>
        </div>

        <div class="littleArticle__article4">
            <img class="littleArticle4__img" src="assets/imgs/article10.jpg" alt="un manifestant ?"/>
            <p class="littleArticle4__premium">A</p>
            <h5 class="littleArticle4__title">En Iran, la légitimité perdue des mollahs</h5>
        </div>
        
        <div class="littleArticle__article5">
            <img class="littleArticle5__img" src="assets/imgs/article11.jpg" alt="Benoît XVI">
            <h5 class="littleArticle5__title">Benoît XVI retire son nom d'un livre contreversé
        </div>

        <div class="littleArticle__article6">
            <img class="littleArticle6__img" src="assets/imgs/article12.jpg" alt="Une silouette qui regarde une maison ?"/>
            <p class="littleArticle6__premium">A</p>
            <h5 class="littleArticle6__title">Affaire Preynat : pourquoi un procès 30 ans après les faits</h5>
        </div>


    </div>