<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        <div class="obsArticle">
        
            <div class="obsArticle__line1"></div>
            <div class="obsArticle__title"></div>
            <div class="obsArticle__line2"></div>
            <div class="obsArticle__article1"></div>
            <div class="obsArticle__article2"></div>
            <div class="obsArticle__article3"></div>

        </div>