<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        <div class="obsArticle">
        
            <div class="obsArticle__line1">
                <hr/>
            </div>
            <div class="obsArticle__title">
                <h3 class="obsArticle__title--title">LE RENDEZ-VOUS DE L'OBS</h3>
            </div>
            <div class="obsArticle__line2">
                <hr/>
            </div>
            <div class="obsArticle__article1">
                <img class="obsArticle1__img" src="assets/imgs/rdv1.png" alt="illustration de personnes avec des menottes ?"/>
                <p class="obsArticle1__premium">A</p>
                <h4 class="obsArticle1__title">Gagnez vos places pour la pièces "An Iliad" au théâtre du Rond-Point</h4>
                <p class="obsArticle1__meta">Club Abonnés - Publié il y a 1 jour</p>
            </div>
            
            <div class="obsArticle__article2">
                <img class="obsArticle2__img" src="assets/imgs/rdv2.jpg" alt="Vladimir Velickovic"/>
                <p class="obsArticle2__premium">A</p>
                <h4 class="obsArticle2__title">Gagnez vos places pour l'exposition hommage à Vladimir Velickovic</h4>
                <p class="obsArticle2__meta">Club Abonnés - Publié il y a 1 jour</p>
            </div>
            
            <div class="obsArticle__article3">
                <img class="obsArticle3__img" src="assets/imgs/rdv3.jpg" alt="illustration de personnes avec des menottes ?"/>
                <p class="obsArticle3__premium">A</p>
                <h4 class="obsArticle3__title">Gagnez vos places de cinéma pour le film "Revenir" de Jessica Palud</h4>
                <p class="obsArticle3__meta">Club Abonnés - Publié il y a 1 jour</p>
            </div>

        </div>