<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body

        <div class="updateArticle">
        
        <div class="updateArticle__newArticle">
            <img class="newArticle__img" src="../assets/imgs/article1.jpg" alt="un retraité manifestant"/>
            <h2 class="newArticle__title">Ces 10 graphiques éclairent l'emploi des seniors (et ce n'est pas réjouissant)</h2>
            <p class="newArticle__meta">Économie - Publié il y a 2 heures</p>
        </div>
        <div class="updateArticle__filInfo"></div>
        
        </div>