.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(241, 241, 241);
  padding: 30px 0;

  @include medium {
    height: 250px;
  }
  @include large {
    height: 200px;
  }
}

.footer__rubs {
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  margin-top: 30px;
  margin-bottom: 15px;

  & li {
    margin-bottom: 15px;
  }

  @include medium {
    width: 80%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
  }
}

.footer__brands {
  width: 90%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
  border-top: 1px solid $border-color;

  & li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-right: 20px;
    margin-bottom: 15px;
  }
}
