.header {
  position: fixed;
  padding: 15px;
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px $border-color solid;
  background-color: white;
  z-index: 1;

  @include medium {
    height: 141px;
    align-items: flex-end;
  }
}

.menu {
  display: flex;
  width: 120px;
  justify-content: space-between;
  align-items: center;

  @include medium {
    width: 22px;
  }
}

.menu__burger-menu {
  position: relative;
  width: 22px;
  height: 2px;
  cursor: pointer;
  background-color: black;
  border-radius: 5px;

  &::before {
    position: absolute;
    content: '';
    top: 7px;
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 5px;
  }

  &::after {
    position: absolute;
    content: '';
    top: -7px;
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 5px;
  }

  @include medium {
    transform: translateY(-9px);
  }
}

.menu__logo {
  height: 22px;

  @include medium {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15px;
    height: 60px;
  }
}

.nav {
  display: none;
  width: 70%;
  margin-left: 5%;

  @include medium {
    display: flex;
    justify-content: space-between;
    //justify-self: right;
    overflow: hidden;
  }
}

.nav__item {
  font-family: 'Osward';
  font-weight: bold;

  @for $i from 1 through 5 {
    &:nth-child(#{$i + 5}) {
      display: none;
    }
  }

  @media (min-width: 847px) {
    &:nth-child(6) {
      display: block;
    }
  }
  @media (min-width: 965px) {
    &:nth-child(7) {
      display: block;
    }
  }
  @media (min-width: 1077px) {
    &:nth-child(8) {
      display: block;
    }
  }
  @media (min-width: 1177px) {
    &:nth-child(9) {
      display: block;
    }
  }
}

.connexion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.header__abonnement {
  padding: 7px;
  border-radius: 3px;
  font-family: 'SourceSerifPro-regular';
  font-weight: bold;
  background-color: rgba(254, 212, 0);
  font-size: 0.8em;
}
