.main {
  margin: 15px;
  display: grid;
}

.primaryInfo {
  display: grid;
  border-bottom: 1px solid lightgrey;
  .primaryInfo__title {
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    padding: 5px;
  }
  .primaryInfo__meta {
    text-align: center;
    color: lightgrey;
    padding-bottom: 10px;
  }
}

.secondaryInfo {
  display: grid;
  margin-top: 10px;
  .secondaryInfo__title {
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    padding: 5px;
  }
  .secondaryInfo__meta {
    text-align: center;
    color: lightgrey;
    padding-bottom: 10px;
  }
}

.thirdInfo {
  display: grid;
  .thirdInfo__title {
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    padding: 5px;
  }
}

.rdvInfo {
  .rdvInfo__title {
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    padding: 5px;
  }
  .rdvInfo__meta {
    text-align: center;
    color: lightgrey;
    padding-bottom: 10px;
  }
}
