@font-face {
  font-family: "Oswald-bold";
  src: url("/assets/fonts/Oswald-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSerifPro-Bold";
  src: url("/assets/fonts/SourceSerifPro-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSerifPro-Regular";
  src: url("/assets/fonts/SourceSerifPro-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}