@font-face {
    font-family: "oswald";
    src: url("../../assets/fonts/Oswald-bold.woff2") type("woff2");
}
@font-face {
    font-family: "SSP-bold";
    src: url("../../assets/fonts/SourceSerifPro-bold.woff2") format("woff2");
}
@font-face {
    font-family: "SSP-regular";
    src: url("../../assets/fonts/SourceSerifPro-bold.woff") format("woff");
}