:root {
    // COLORS
    --dark-color: #000000;
    --grey-color: #f1f1f1;
    --light-color: #FFFFFF;
    --primary-color: #FED500;

    // TEXT SIZES
    --little-cta: 11px;
    --meta: 12px;
    --paragraph: 14px;
    --title-littleArticle: 16px;
    --big-links: 18px;
    --title-article: 20px;
    --big-subtitle: 25px;
    --big-title: 40px;
    
}