@font-face {
  font-family: "OswaldB";
  src: url(./../assets/fonts/Oswald-bold.woff2) format("woff2");
}

@font-face {
  font-family: "SSP-b";
  src: url(./../assets/fonts/SourceSerifPro-Bold.woff2) format("woff2");
}
