@font-face {
  font-family: "Oswald-bold";
  src: url("/assets/fonts/Oswald-bold.woff2") format("woff2");
}

@font-face {
  font-family: "SourceSerifPro-bold";
  src: url("/assets/fonts/SourceSerifPro-bold.woff2") format("woff2");
}

@font-face {
  font-family: "SourceSerifPro-regular";
  src: url("/assets/fonts/SourceSerifPro-regular.woff2") format("woff2");
}
