<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="scss/style.scss" />
  </head>
  <body>
    //ça peut être sympa avec pug pour inclure des partials en faisant varier le titre de l'article par exemple
  <header class="header">
  

  
  </header>


  <main class="main">

    include pug/main/updateArticle.pug

    include pug/main/articles.pug

    include pug/main/littleArticle.pug

    include pug/main/imgObs.pug

    include pug/main/obsArticle.pug

</main>


<footer class="footer">
  
  
  
  </footer>
  </body>
</html>