html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/style.scss")
    body
        div.article.article1
            .article-image
                    img(src="assets/imgs/article1.jpg", alt="old man with funny hat cgt")
            .article-text
                h1 Ces 10 graphiques éclairent l’emploi des seniors (et ce n’est pas réjouissant)
                div Economie - Publié il y a 2 heures

        div.arcticle.article2
            .article-image
                img(src="assets/imgs/article2.jpg", alt="first minister")
            .article-text
                h1 Comment la réforme des retraites a été dévoyée
                div Edito - Publié il y a 14 heures

        div.arcticle.article3
        div.arcticle.article4
        div.arcticle.article5
        div.arcticle.article6
        div.arcticle.article7