.main {
  display: grid;

  @include large {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: (2fr 2.5fr 1.5fr 1.2fr 1.5fr);
    grid-gap: 30px;
    margin: 120px 18% 0 18%;
  }

  &__primaryInfo {
    background-color: yellow;
    grid-column: 1;
    grid-row: 1;

    .primaryInfo {
      &__article {
        img {
          height: 100%;
          width: 100%;
        }
        .texte {
          h2 {
            font-size: 40px;
            font-family: "SourceSerifPro-bold";
            height: 100%;
          }
          position: relative;
          text-align: center;
          background-color: white;

          width: 80%;
          bottom: 20px;
        }
      }
    }
  }

  &__fillInfo {
    background-color: orange;
    grid-column: 2;
    grid-row: 1;
  }

  &__bigArticles {
    background-color: red;
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  &__littleArticles {
    background-color: purple;
    grid-column: 1;
    grid-row: 3;
  }

  &__abonnement {
    background-color: blue;
    grid-column: 1;
    grid-row: 4;
  }

  &__rdv {
    background-color: green;
    grid-column: 1 / span 2;
    grid-row: 5;
  }
}
