* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

@import "reset.scss";
@import "style.scss";
@import "config/medias";

body {
  background-color: green;

  @include medium {
    background-color: yellow;
  }

  @include large {
    background-color: red;
  }
}
