@import "reset.scss";
@import "config/medias.scss";
@import "blocs/header.scss";
@import "blocs/main.scss";
@import "blocs/footer.scss";

body {
  background-color: green;

  @include medium {
    background-color: yellow;
  }

  @include large {
    background-color: red;
  }
}
