@import "config/imports.scss";

// ---------- Initial Code ----------

body {
    @include small {
        background: green;
    }
    @include medium {
        background: yellow;
    }
    @include large {
        background: red;
    }
}

* {
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
  }

  // Code provisoire

  .littleArticle__article1, .littleArticle__article2, .littleArticle__article3, .littleArticle__article4, .littleArticle__article5, .littleArticle__article6 {
      display: flex;
  }

