@import '../scss/reset.scss';
@import '../scss/media.scss';
@import '../scss/blocs/header.scss';
@import '../scss/blocs/main.scss';
@import '../scss/blocs/footer.scss';


* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html,
body {
  width: 100vw;
  overflow: hidden;
}
