// Parameters
@import "config/medias.scss";
@import "config/reset.scss";

// Main Content
@import "blocs/header.scss";
@import "blocs/main.scss";
@import "blocs/footer.scss";

// Second grid for main
@import "bloc-main/main-updateArticle.scss";
    // --> fil info second grid
    @import "bloc-main/main-filInfo.scss";
    //

@import "bloc-main/main-articles.scss";
@import "bloc-main/main-littleArticle.scss";
@import "bloc-main/main-obsArticle.scss";

// ---------- Initial Code ----------

body {
    @include small {
        background: green;
    }
    @include medium {
        background: yellow;
    }
    @include large {
        background: red;
    }
}

* {
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
  }

  .littleArticle__article1, .littleArticle__article2, .littleArticle__article3, .littleArticle__article4, .littleArticle__article5, .littleArticle__article6 {
      display: flex;
  }