@font-face {
  font-family: "Oswald-bold";
  src: url("../fonts/Oswald-bold.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSerifPro-bold";
  src: url("../fonts/SourceSerifPro-bold.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSerifPro-regular";
  src: url("../fonts/SourceSerifPro-regular.woff2");
  font-weight: normal;
  font-style: normal;
}
