.primaryInfo__content {
  justify-content: center;
  width: 600px;
  height: 150px;
}

.primaryInfo__title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 42px;
  background-color: white;
}
