.main {
  margin: 20px 0px 20px 0px;
  padding: 0px 10px 0px 10px;
  width: 100%;
  max-width: 660px;
  @include large {
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "primary primary fil"
      "second second second"
      "tertiary tertiary ."
      "abo abo ."
      "rdv rdv rdv";
  }
}

.main__primaryInfo {
  height: 450px;
  @include large {
    margin-bottom: 8%;
    grid-area: primary;
  }
}

.infoThread {
  display: none;
  margin-bottom: 8%;
  @include large {
    display: block;
    grid-area: fil;
  }
}

.secondaryInfo {
  margin-bottom: 8%;
  height: 500px;
  @include large {
    grid-area: second;
  }
}

.tertiaryInfo {
  margin-bottom: 8%;
  height: 320px;
  @include large {
    grid-area: tertiary;
  }
}

.subscribeAd {
  margin-bottom: 8%;
  height: 320px;
  @include large {
    grid-area: abo;
  }
}
.obsMeeting {
  margin-bottom: 8%;
  height: 320px;
  @include large {
    grid-area: rdv;
  }
}
